/.idea

/Frontend/.idea
/Frontend/.env
/Frontend/node_modules
/Frontend/dist
/Frontend/dev-dist
/Frontend/dist-ssr

/Backend/Scraping Service/.idea
/Backend/Scraping Service/.env
/Backend/Scraping Service/venv

/Backend/Coordinator Service/.idea
/Backend/Coordinator Service/.env
/Backend/Coordinator Service/node_modules
