@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
}

body {
  @apply text-white bg-black;
}

html,
.scrollable {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #202020;
        border-radius: 4px;
    }
}
